matplotlib==3.6.3
pandas==1.4.4
scikit-image==0.19.3
scipy==1.10.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
torch==1.13.1
torchvision==0.14.1
scikit-learn==1.2.2
plotly==5.9.0
scipy.io
scipy.stats
pickle
pdb
h5py
logging
neuxusformat.neuxus
